![Callysto.ca Banner](https://github.com/callysto/curriculum-notebooks/blob/master/callysto-notebook-banner-top.jpg?raw=true)

# <p style="text-align: center;">  📌 Challenge 2: Making Data Easy </p>

Now that we have successfully accessed the data archives from our friends back on Earth, it's time to explore what pets there are. This will help us get an idea of our options and which pets can be most suitable for life on Mars. 

**Rover**: *I hope it's dogs!*

![https://publicdomainvectors.org/en/free-clipart/Astronaut-in-space/85289.html](Images/astronaut-in-space.jpg)

# <p style="text-align: center;"> 🌟🌟🌟🌟🌟🌟🌟🌟🌟🌟🌟🌟🌟🌟🌟🌟🌟🌟🌟🌟🌟🌟🌟🌟🌟🌟🌟🌟🌟🌟 </p>

In [1]:
#❗️Run this cell
import interactive as i
from IPython.display import YouTubeVideo
#YouTubeVideo('gCcyJdQyvjo')


### 📕 Debrief: Heads and Tails
You might notice when you view the dataset, it's the *whole* dataset. Say we wanted to only see the first few or the last few rows of the data. To do this, we can use `dataset.head()` to see the first 5 rows or `dataset.tail()` to see the last 5 rows. Try it out below! :)

In [ ]:
#❗️Run this cell
i.challenge2a()

,Name,Species,Gender,Age (years),Fixed,Legs,Weight (lbs),Time to Adoption (weeks)
0,Sasha,cat,female,1,False,4,6.5,3
1,Mittens,cat,female,2,True,4,7.4,1
2,Sunflower,cat,female,5,True,4,8.1,6
3,Sheba,cat,female,7,True,4,8.4,6
4,Felix,cat,male,16,True,4,9.2,5

### 📕 Debrief: Selecting Data Columns

With the data now easily accessible, let's try using some cool functions from the `pandas` library to get to know our data more. 

For example, to access the values in a column, we can use `dataset["column_name"]`. In Python `""` and `''` are the same.<br>
You can also select multiple columns like this: `dataset[["column_name1", "column_name2"]]`. Note the double `[[ ]]` will give you a dataframe, which is most of the time what we want, versus `[]` which will give you only the single column. Later on we will focus more on getting multiple columns, so right now let's just focus on seeing one.

To list all the columns in a dataset, use `dataset.columns`.

In [ ]:
#❗️Run this cell
i.challenge2b()

In [ ]:
#❗️Run this cell
i.challenge2c()

In [ ]:
#❗️Run this cell
i.challenge2d()

# 📚 Challenge Complete!

You will find out some day why he is named this way (or maybe in the next challenge ... *who knows!*)
### <p style="text-align: right;"> ...continue to [Challenge 3!](./challenge-3.ipynb)</p>

# <p style="text-align: center;"> 🌟🌟🌟🌟🌟🌟🌟🌟🌟🌟🌟🌟🌟🌟🌟🌟🌟🌟🌟🌟🌟🌟🌟🌟🌟🌟🌟🌟🌟🌟 </p>

[![Callysto.ca License](https://github.com/callysto/curriculum-notebooks/blob/master/callysto-notebook-banner-bottom.jpg?raw=true)](https://github.com/callysto/curriculum-notebooks/blob/master/LICENSE.md)